@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body,html {
    padding: 0;
    margin: 0;
    height: 100vh;  
    font-family: 'Inter';
    overflow: hidden;
}

/* Navbar */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    gap: 50%;
}


  .img_container {
    position: relative;
    overflow: hidden;
    height: 72.5vh;  
  }
  .img_container>div {
    position: absolute;
    top: 50%;
    /* border-radius: 7px; */
    background:rgba(103, 116, 163, 0.8) ;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-align: center;
}

  .img_container>img {
    object-fit: cover;
  }


/* button */
  .btn {
    padding: 10px 25px;
    font-size: 20px;
    color: var(--primary);
    border-radius: 25px;
    background-color: #3498db;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
  }
  .btn:hover {
    transform: translateY(5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }

  /* main  content */
  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #title {
    color: white;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center; 
  }
  
  p{
    font-size: 30px;
    color: white;
    letter-spacing: 3px;
  }

/* Footer */
  footer {
    height: 100px;
    background-color: white;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p:nth-child(1) {
    color: var(--primary);
  }

/* Responsive */
@media screen and (max-width: 768px) {
    #title {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }

    .btn {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-around;
    }

    .navbar-icon {
        display: block;
    }
    .navbar-icon i {
        font-size: 24px;
    }
}

